/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small, form .field-group .help, blockquote footer {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

button, .btn, a.btn, .btn-primary, .btn-small, .btn-large {
  border: 0;
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  line-height: 1;
  font-size: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 0.75em  1.5em; }
  button:hover, .btn:hover, .btn-primary:hover, .btn-small:hover, .btn-large:hover {
    background-color: #333;
    color: #FFF; }
  button:active, .btn:active, .btn-primary:active, .btn-small:active, .btn-large:active {
    background-color: #4d4d4d; }
  button:focus, .btn:focus, .btn-primary:focus, .btn-small:focus, .btn-large:focus {
    outline: none; }

a.btn:hover, a.btn-primary:hover, a.btn-small:hover, a.btn-large:hover {
  background-color: initial;
  text-decoration: underline; }

.btn-primary {
  background-color: #0f82bd;
  color: #d0edfb; }
  .btn-primary:hover {
    background-color: #d0edfb;
    color: #0f82bd; }

.btn-small {
  font-size: 0.75em; }

.btn-large {
  font-size: 2em;
  font-weight: bold; }

[class^="alert-"] {
  border: 1px solid;
  border-bottom-width: 3px;
  margin: 1.5em 0;
  padding: 1.5em; }
  [class^="alert-"] p {
    margin-bottom: 0; }

.alert-information {
  border-color: #bddcee;
  background-color: #fafcfe; }
  .alert-information :first-child {
    color: #439ccf; }

.alert-error {
  border-color: #f6a79f;
  background-color: #fde7e5; }
  .alert-error :first-child {
    color: #e72915; }

.alert-warning {
  border-color: #ffa76d;
  background-color: #ffd5ba; }
  .alert-warning :first-child {
    color: #d35400; }

.alert-success {
  border-color: #bedf91;
  background-color: #e1f0cc; }
  .alert-success :first-child {
    color: #74a730; }

form .field-group {
  margin-bottom: 1em; }
  form .field-group label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold; }
  form .field-group input:not([class^="btn"]), form .field-group textarea {
    border: 1px solid #ccc;
    padding: 0.75em; }
    form .field-group input:not([class^="btn"]):focus, form .field-group input:not([class^="btn"]):hover, form .field-group textarea:focus, form .field-group textarea:hover {
      border-color: #a6a6a6;
      outline: none; }
    form .field-group input:not([class^="btn"]).field-fw, form .field-group textarea.field-fw {
      width: 100%; }
  form .field-group .help {
    margin: 0.5em 0 0;
    color: gray;
    font-style: italic; }
  form .field-group.field-error label, form .field-group.field-error .help {
    color: red; }
  form .field-group.field-error input {
    border-color: #ff9999;
    background-color: #ffe6e6; }

form .required {
  color: red; }

form fieldset {
  border-color: #ccc;
  padding: 1.5em;
  margin-bottom: 1.5em; }
  form fieldset legend {
    font-weight: bold;
    padding: 0 0.5em; }

form input[type="checkbox"], form input[type="radio"] {
  display: none; }

form input[type="checkbox"] + label:before {
  background-color: #FFF;
  border: 1px solid #ccc;
  content: "";
  display: inline-block;
  height: 1.25em;
  width: 1.25em;
  line-height: 1.25em;
  font-size: 0.75em;
  vertical-align: middle;
  text-align: center;
  margin: -2px 6px 0 0; }

form input[type="checkbox"]:checked + label:before {
  content: "\2713"; }

form input[type="radio"] + label:before {
  background-color: #FFF;
  border: 1px solid #ccc;
  border-radius: 1.25em;
  content: "";
  display: inline-block;
  height: 0.6em;
  margin: -2px 6px 0 0;
  width: 0.6em;
  vertical-align: middle;
  font-size: 1.65em;
  line-height: 0.7em;
  text-align: center; }

form input[type="radio"]:checked + label:before {
  content: "\2022"; }

.flex-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; }
  .flex-form .field-group {
    margin: 0; }
  .flex-form img {
    display: none;
    vertical-align: middle; }
  .flex-form input:not([class^="btn"]) {
    color: #333; }

@media (min-width: 816px) {
  .flex-form img {
    display: inline-block; } }

/* Main Container  */
.grid {
  padding: 1em;
  margin: 0 auto; }

/* The Columns  */
[class^="col-"] {
  float: left;
  padding: 0 1em; }

/* The Row  */
.row {
  margin-left: -1em;
  margin-right: -1em; }

.row:after {
  content: "";
  display: table;
  clear: both; }

/* Column Widht  */
.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

/* Special Classes  */
.col-third {
  width: 33.33333%; }

.col-two-thirds {
  width: 66.66667%; }

.col-half {
  width: 50%; }

.col-quarter {
  width: 25%; }

img {
  max-width: 100%;
  height: auto; }

@media (max-width: 1024px) {
  [class^="col-"] {
    padding: 0 0.5em; }
  .row {
    margin-left: -0.5em;
    margin-right: -0.5em; } }

@media (max-width: 816px) {
  [class^="col-"] {
    width: 100%; } }

[class^="icon-"] {
  border: 1px solid #333;
  height: 3em;
  width: 3em;
  padding: 0.25em;
  margin-bottom: 1.5em;
  text-align: center; }
  [class^="icon-"] i {
    line-height: 2.5em; }

.icon-circle {
  border-radius: 100%; }

.icon-rounded {
  border-radius: 3px; }

.icon-large {
  font-size: 150%; }

.icon-huge {
  font-size: 250%; }

html {
  font-size: 1em; }

html, input, button, textarea {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  color: #333;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif; }

p {
  margin-bottom: 1.5em; }

a, a:visited {
  color: #0f82bd;
  text-decoration: none; }
  a:hover, a:visited:hover {
    color: #333;
    text-decoration: underline; }

hr {
  border: 0;
  background-color: #ccc;
  height: 1px;
  margin: 1.5em 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 0.5em; }

h1, h2, h3, h4 {
  line-height: 1.2; }

h5, h6 {
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase; }

h1 {
  font-size: 2.074em; }

h2 {
  font-size: 1.728em; }

h3 {
  font-size: 1.44em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.833em; }

ul, ol {
  margin: 0 0 1.5em 1.5em; }

blockquote {
  color: gray;
  font-style: italic;
  margin-left: 1.5em; }
  blockquote footer {
    font-style: normal; }
