@import '../config';

/* Main Container  */
.grid{
	padding: 1em; 
	margin: 0 auto;
}

/* The Columns  */
[class^="col-"]{
	float: left;
	padding: 0 $gutter;
}

/* The Row  */
.row{
	margin-left: -$gutter;
	margin-right: -$gutter;
}

.row:after{
	content: "";
	display: table;
	clear: both;
}

/* Column Widht  */
@for $i from 1 through $column-count{
	.col-#{$i}{
		width: ( 100 / $column-count ) * $i * 1%;
	}
}

/* Special Classes  */
.col-third{
	width: (100/3) * 1%;
}

.col-two-thirds{
	width: (100/3) * 2%;
}

.col-half{
	width: (100/2) * 1%;
}

.col-quarter{
	width: (100/4) * 1%;
}

img{
	max-width: 100%;
	height: auto;
}

@media(max-width: $small-screen){
	[class^="col-"]{
		padding: 0 $gutter/2;
	}

	.row{
		margin-left: -$gutter/2;
		margin-right: -$gutter/2;
	}
}

@media(max-width: $mobile-screen){
	[class^="col-"]{
		width: 100%; 
	}
}